* {
	font-family: Arial, helvetica, sans-serif;
	margin: 0;
	padding: 0px;
}

:root { /* Farger til nettsiden */
	--gcback: #F2FAF4;
	--white: #FFFFFF;
	--gcligth: #98DCC3;
    --gcdark:#006357;
    --gcbrown:#BC7D4C;
    --gcgreen:#A3D079;
    --gctext: #0C151B;
}

/*Krav til tekst
brødtekst - regular - roboto - 16 punkt
overskrift (H1) - bold - outfit - 64 punkt
overskrift 2 (H2) - bold - putfit - 48 punkt
*/

.stick-to-top { /* Menyen sitter fast på toppen */
	position: sticky;
	top: 0;
	z-index: 1;
}

img { /*Alle bilder har 10% radius*/
    border-radius: 10%;
}

.logo-icon { /* Kode for logo og at den holder seg til venstre. (Kode fra figma) pluss litt justeringer med padding og margin */
    width: 5rem;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar ul { /* Meny-liste - hentet inspo og hjelp fra W3school */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gcligth);
}
  
.navbar li { /* Meny-liste - hentet inspo og hjelp fra W3school.  Menyen skal ligge  til høyre*/
    float: right;
    padding: 1rem;
    height: 4rem;
}
  
.navbar li a { /* Meny-liste - hentet inspo og hjelp fra W3school. Linkene som skal trykkes på*/
    display: block;
    color: var(--gcdark);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Inter;
}
  
.navbar li a:hover { /* Meny-liste - hentet inspo og hjelp fra W3school. hovereffekt  */
    color: var(--gcback);
}

/* må legge inn bilder i Visual studio Code da det ikke fungerer i sublime på mac*/
.Header-box {
    background-image: ;
}

.Textbox-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Juster etter behov */
    gap: 2rem; 
    padding: 1rem;
}

.textbox {
    flex: 3; 
    padding: 20px;
    font-family: Roboto, sans-serif;
}

.text-img {
    flex: 1;
    padding: 4rem;
}

div.contact-container {
    background: var(--graaboindu);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 20% 5% 20%;
  }
    
/* Kode for footer er hentet fra figma og endret, her skal det endres en del slik at det blir lettere å lese koden. Figma lager mye ekstra unødvendig kode */
.about-us a, .visit-our-github a {
	text-decoration: none;
	color: var(--gcdark);
}

.about-us a:hover, .visit-our-github a:hover {
    color: var(--gcback);
    transition: 0.1s;
}

i:hover {
    color: var(--gcback);
    transition: 0.1s;
}

.visit-our-github {
    align-self: stretch;
    width: 26.813rem1;
    position: relative;
    line-height: 2rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.fa-github {
    color: var(--gcdark);
}


i.fa {
    font-size: 3rem;
    padding-right: 1rem;
}

.fa :hover {
    color: var(--gcback);
}

.github-box {
    width: 51.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.125rem;
}


hr.footer-line {
    border: 0.1rem solid var(--gcback);
    border-radius: 5px;
    width: 51.75rem;
}

.about-us {
    align-self: stretch;
    position: relative;
    line-height: 2rem;
    display: flex;
    align-items: flex-end;
    height: 2.688rem;
    flex-shrink: 0;
}
.liste-box {
    width: 12.063rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.liste-box1 {
    width: 24.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.liste-box-parent {
    width: 51.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14.562rem;
    padding-bottom: 1rem;
}

.footer-container {
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 1rem;
    background-color: #98dcc3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1rem;
    text-align: left;
    font-size: 1rem;
    color: #006357;
    font-family: Roboto;
}

.footer-copyright {
    width: 100%;
    background-color: var(--gcback);
	text-align: center;
	padding-top: 1rem;
    padding-bottom: 1rem;
	color: black;
}

